<div class="container">
<p style="color: green"><%= notice %></p>

<h1>Profiles#show</h1>
<p>Find me in app/views/profiles/show.html.erb</p>

  <p>
    <%= link_to "Back to Stuffs", root_path, class:"btn btn-outline-primary" %>
  </p>
</div>
