<div id="<%= dom_id stuff %>">
  <p>
    <strong>Name:</strong>
    <%= stuff.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= stuff.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= stuff.category %>
  </p>

</div>
