      <h2>
        <strong>Name:</strong>
        <%= stuff.name %>
      </h2>

      <p>
        <strong>Category:</strong>
        <%= stuff.category %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= stuff.price %>
      </p>
