<h1>Stuffs</h1>



<% @stuffs.each do |stuff| %>
    <%= render stuff %>
    <p>
      <%= link_to 'Show', stuff %>
      <%= link_to 'Destroy', stuff, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
  <%= link_to "New Stuff", new_stuff_path %>
