<div>
<h1>Stuffs</h1>


  <div class="container">



    <div class="cards">




  <% @stuffs.each do |stuff| %>
<%= link_to stuff_path(stuff) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),">
        <%= render stuff %>

      </div>
    <% end %>
    <% end %>
    </div>
  </div>
    <div>
      <%= link_to "New Stuff", new_stuff_path, class:"btn btn-outline-secondary" %>
    </div>
</div>
