<h1><center>New Stuff</center></h1>


  <%= render "form", stuff: @stuff %>

  <br>



  <!-- Les boutons de soumission et de retour -->
  <%= link_to "Retour", root_path, class: "btn btn-outline-primary" %>
