<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Zukam-fp/syner-loc"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/synerloc/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/profile.php?id=61556769454233"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/SynerLoc"><i class="fab fa-twitter"></i></a>
    <a href="https://igor-b-syner.systeme.io/1e915bd1"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    © at Syner'Loc
  </div>
</div>
