.navbar-lewagon {
  justify-content: center;
  background: rgb(19, 0, 35);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  justify-content: center;
}

.nav-link {
  color : white;
}

.escape-navbar {
  margin-top: 96px;
  min-height: calc(100vh - 126px);
}
